<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-4 ">
            <form class="form-books" autocomplete="off" th:action="@{books}" th:object="${book}" method="POST">
                <fieldset>
                    <h2 th:text="'Library Management'"></h2>
                    <div class="form-group">
                        <label th:text="'BookName'"></label>
                        <input type="text" th:field="*{bookname}" class="form-control input-lg" title="bookname" required/>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('bookname')}" th:errors="*{bookname}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="'Publisher'"></label>
                        <input type="text" th:field="*{publisher}" class="form-control input-lg" title="publisher" required/>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="'Publisher Year'"></label>
                        <input type="text" th:field="*{publish_year}" class="form-control input-lg" title="publish_year" required/>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('publish_year')}" th:errors="*{publish_year}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="'Status'"></label>
                        <select th:field="*{status}">
                            <option th:value="'AV'" th:text="Available"></option>
                            <option th:value="'UAV'" th:text="UnAvailable"></option>
                        </select>
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
                    </div>

                    <input class="btn btn-outline-dark" type="submit" th:value="'Add'" />
                </fieldset>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<div th:replace="fragments/footer :: footer">
</div>
</body>

</html>